
@import "../../bower_components/normalize.css/normalize.css"



body
	margin: 0
	padding: 0
h1,
p
	margin: 0
	padding: 0
.main-head
	background-image: url("../img/bg.jpg")
	background-size: cover
	background-position: center center
	overflow: hidden
	.logo
		position: absolute
		right: 10%
		bottom: 40vh
		text-align: center
		text-transform: uppercase
		max-width: 400px
		h1
			font-size: 3em
		p
			font-size: 2em




